footer {
  background-color: #013d5b;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}
footer p {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}
footer .footer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer .footer-box a {
  margin: 0 20px;
}
footer .footer-box a i {
  font-size: 45px;
  color: #fefefe;
  opacity: 0.8;
  height: 40px;
  transition: transform 1s ease, opacity 1s ease, color 1s ease;
}
footer .footer-box a i:hover {
  transform: scale(1.5);
  opacity: 1;
  color: #4cbef8;
}
