.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет */
   display: none; /* По умолчанию скрыт */
   justify-content: center;
   align-items: center;
}

.modal-content {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   display: inline;
   align-items: center;
   justify-content: center;
}

.modal-content h2 {
   text-align: center;
}

button {
   border: none;
   background-color: #0273ac;
   text-align: center;
   padding: 10px 20px;
   border-radius: 5px;
   transition: background-color 0.5s ease, outline-offset 0.5s ease;
}

button:hover {
   background-color: #015782;
   outline-offset: 5px;
   outline: 3px solid #015782;
}

button p {
   font-size: 24px;
   color: #fefefe;
}

form {
   background-color: white;
   border: 3px solid #f1f1f1;
   max-width: 500px;
   min-width: 200px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 5px;
}

input[type=text], input[type=email], textarea {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }

.success-message {
   display: none;
   text-align: center;
   margin-top: 20px;
}

.success-message img {
   width: 50px;
   height: 50px;
}

.success-message p {
   margin-top: 10px;
}

.fail-message {
   display: none;
   text-align: center;
   margin-top: 20px;
}

.fail-message img {
   width: 50px;
   height: 50px;
}

.fail-message p {
   margin-top: 10px;
}