.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-overlay .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: inline;
  align-items: center;
  justify-content: center;
}
.modal-overlay .modal-content h2 {
  text-align: center;
}
.modal-overlay form {
  background-color: white;
  border: 3px solid #f1f1f1;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.modal-overlay form input[type=text], .modal-overlay form input[type=email], .modal-overlay form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.modal-overlay form #submit {
  border: none;
  background-color: #0273ac;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.5s ease, outline-offset 0.5s ease;
}
.modal-overlay form #submit p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #fefefe;
}
.modal-overlay form #submit:hover {
  background-color: #015782;
  outline-offset: 5px;
  outline: 3px solid #015782;
}
.modal-overlay .success-message {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.modal-overlay .success-message img {
  width: 50px;
  height: 50px;
}
.modal-overlay .success-message p {
  margin-top: 10px;
}
.modal-overlay .fail-message {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.modal-overlay .fail-message img {
  width: 50px;
  height: 50px;
}
.modal-overlay .fail-message p {
  margin-top: 10px;
}
