html {
   box-sizing: border-box;

}

*, *::after, *::before {
   box-sizing: inherit;
   margin: 0 auto;
}

body {
   /* background-image: linear-gradient(rgb(255, 157, 157), rgb(211, 144, 49)); */
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #fefefe;
}




/* Header section */
.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   /* background-color: #363753; */
   background-color: #fefefe;
   box-shadow: 0 0 40px rgba(0,0,0,.2);
   z-index: 2;
}

.header_body {
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 70px;
   align-items: center;
}

.header_logo {
   flex: 0 0 50px;
   overflow: hidden;
   position: relative;
   z-index: 3;
}

.header_logo img {
   max-width: 100%;
   display: block;
}

.header_burger {
   display: none;
}

.header_list {
   display: flex;
   position: relative;
   z-index: 50;
}

.header_list li{
   list-style: none;
   margin: 0 0 0 20px;
}

.header_link {
   color: #000000;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 16px;
   text-decoration: none;
}

@media (max-width: 767px) {
   body.lock {
      overflow: hidden;
   }
   .header_body {
      height: 50px;
   }
   .header_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
   }
   .header_burger span {
      position: absolute;
      background-color: #000000;
      left: 0;
      width: 70%;
      height: 2px;
      top: 9px;
      transition: all 0.5s ease;
   }
   .header_burger:before,
   .header_burger:after {
      content: '';
      background-color: #000000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.5s ease;
   }
   .header_burger:before {
      top: 0;
   }
   .header_burger:after {
      bottom: 0;
   }
   .header_burger.active span {
      transform: scale(0);
   }
   .header_burger.active:before{
      transform: rotate(45deg);
      top: 8px;
   }
   .header_burger.active:after{
      transform: rotate(-45deg);
      bottom: 8px;
   }
   .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      background-color: rgb(55, 160, 160);
      padding: 70px 0 0 0;
      overflow: auto;
   }
   .header_menu.active {
      top: 0;
   }
   .header_list {
      display: block;
   }
   .header_list li {
      margin: 0px 0px 20px 0px;
   }
   .header_link {
      font-size: 24px;
      color: #fefefe;
   }
}




/* Main section */
main {
   display: inline;
   max-width: none;
   box-sizing: border-box;
   overflow: hidden;
}

.banner_main img {
   margin: 50px 0 0 0;
   max-width: 100%;
   height: auto;
}

.text-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #013d5b;
}
.box-h1, .box-h2 {
   color: #fefefe;
   max-width: 1020px;
   padding: 70px auto;
   overflow: auto;
}
.box-h1 {
   font-size: 40px;
   font-weight: bold;
   padding-top: 70px;
   margin: 15px auto;
   text-align: center;

}
.box-h2 {
   font-size: 20px;
   padding-bottom: 70px;
   margin: 15px auto;
   text-align: center;
}

/*main section*/
.general-section {
   background-color: #fefefe;
   padding: 0;
   min-height: 70vh;
}

.contain-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
}

.contain-section-2 {
   flex: 1 0 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 767px) {
   .contain-section-2 {
      flex-direction: column;
   }

   .img-section {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .text-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .text-section p, button {
      margin: 0;
      text-align: center; 
   }
}

.img-section {
   flex: 1 0 50%;
   height: 100%;
   padding: 40px 25px 40px 150px;
   position: relative;
}

.img-section img {
   width: 100%;
   margin: 40px;
}

.text-section {
   flex: 1 0 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Изменено на flex-start для выравнивания по левому краю */
   justify-content: flex-start;
   height: 100%;
   padding: 40px 150px 40px 25px;
}

.text-section p, button {
   margin: 0;
   text-align: left; 
}

.text-uppercase {
   padding-bottom: 16px;
   text-transform: uppercase;
   font-weight: bold;
}

.text-heading {
   padding: 16px 0 16px 0;
   font-size: xxx-large;
}

.text-general {
   padding: 16px 0 16px 0;
   font-size: small;
   line-height: 1.5;
   font-weight: bold;
}

.text-closure {
   padding: 16px 0 16px 0;
   font-size: normal;
   font-weight: bold;
}

button {
   border: none;
   background-color: #0273ac;
   text-align: center;
   padding: 10px 20px;
   border-radius: 5px;
   transition: background-color 0.5s ease, outline-offset 0.5s ease;
}

button:hover {
   background-color: #015782;
   outline-offset: 5px;
   outline: 3px solid #015782;
}

button p {
   font-size: 24px;
   color: #fefefe;
}

form {
   background-color: white;
   border: 3px solid #f1f1f1;
   max-width: 500px;
   min-width: 200px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 5px;
}

input[type=text], input[type=email], textarea {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }

/* Стили для модального окна */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет */
   display: none; /* По умолчанию скрыт */
   justify-content: center;
   align-items: center;
}

.modal-content {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   display: inline;
   align-items: center;
   justify-content: center;
}

.modal-content h2 {
   text-align: center;
}

.success-message {
   display: none;
   text-align: center;
   margin-top: 20px;
}

.success-message img {
   width: 50px;
   height: 50px;
}

.success-message p {
   margin-top: 10px;
}

.fail-message {
   display: none;
   text-align: center;
   margin-top: 20px;
}

.fail-message img {
   width: 50px;
   height: 50px;
}

.fail-message p {
   margin-top: 10px;
}

/*main content section 2*/
.general-section-2 {
   background-color: #f4f4f4;
   padding: 0;
   min-height: 70vh;
}

.img-section-2 {
   flex: 1 0 50%;
   height: 100%;
   padding: 40px 150px 40px 25px;
   position: relative;
}

.img-section-2 img {
   width: 100%;
   margin: 40px;
}

.text-section-2 {
   flex: 1 0 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-end; /* Изменено на flex-start для выравнивания по левому краю */
   justify-content: flex-end;
   height: 100%;
   padding: 40px 25px 40px 150px;
}

.text-section-2 p, .button-2 {
   margin: 0;
   text-align: right; 
}

.text-uppercase-2 {
   padding-bottom: 16px;
   text-transform: uppercase;
   font-weight: bold;
}

.text-heading-2 {
   padding: 16px 0 16px 0;
   font-size: xxx-large;
}

.text-general-2 {
   padding: 16px 0 16px 0;
   font-size: small;
   line-height: 1.5;
   font-weight: bold;
}



.child-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

.text-wrapper p {
   margin-top: 0;
   /* Добавьте дополнительные стили по вашему желанию */
}

.services-section {
   background-color: #6bdcd3;
   padding: 10px 50px;
}

.services-section2 {
   background-color: #dfe3ee;
   padding: 10px 50px;
}

/* Main section div settings*/
div {
   display: flex;
   justify-content: center;
   align-items: center;
   background: transparent;
   /* border: 1px solid black; */
   border-radius: none;
}


/* Main section .box settings*/
.box {
   text-align: center;
   width: 25%;
   height: 200px;
   border: 1px solid black;
   box-sizing: border-box;
   position: relative;
}

.box img {
   background-color: none;
   width: 50%;
   height: 50%;
  
}

.box .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
}




/* Footer section */
/* Общие стили для футера */
footer {
   background-color: #013d5b;
   padding: 30px 0;
   text-align: center;
   color: #fff;
}

/* Стили для контейнера внутри футера */
.footer-box {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 90px;
}

/* Стили для ссылок внутри контейнера */
.footer-box a {
   margin: 0 20px;
   
}

.footer-box i {
   font-size: 45px;
   color: #fefefe;
   opacity: 0.8;
   height: 40px;
   transition: transform 1s ease, opacity 1s ease, color 1s ease;
}

.footer-box i:hover {
   transform: scale(1.5);
   opacity: 1;
   color: #4cbef8;
}

/* Стили для параграфа внутри контейнера */
footer p {
   margin-top: 20px;
   font-size: 14px;
   opacity: 0.8;
}

