@import url('header.css');
@import url('banner-main.css');
@import url('modal-overlay.css');
@import url('footer.css');

body {
   /* background-image: linear-gradient(rgb(255, 157, 157), rgb(211, 144, 49)); */
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #fefefe;
   width: 100%;
}
body.lock {
   overflow: hidden;
}

/*main section*/
.general-section {
   background-color: #fefefe;
   padding: 0;
   width: 100%;
}

.contain-section {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 70%;
}

.contain-section-2 {
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   width: 100%;
}

.img-section {
   /* flex: 1 0 50%; */
   height: 100%;
   padding: 40px 25px 40px 150px;
   position: relative;
}

.img-section img {
   width: 100%;
   margin: 40px;
}

.text-section {
   flex: 1 0 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Изменено на flex-start для выравнивания по левому краю */
   justify-content: flex-start;
   height: 100%;
   padding: 40px 150px 40px 25px;
}

.text-section p, button {
   margin: 0;
   text-align: left; 
}

.text-uppercase {
   padding-bottom: 16px;
   text-transform: uppercase;
   font-weight: bold;
}

.text-heading {
   padding: 16px 0 16px 0;
   font-size: xxx-large;
}

.text-general {
   padding: 16px 0 16px 0;
   font-size: small;
   line-height: 1.5;
   font-weight: bold;
}

.text-closure {
   padding: 16px 0 16px 0;
   font-size: normal;
   font-weight: bold;
}



 @media screen and (min-width: 320px) and (max-width: 767px) {
   main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
   }
   
   .banner_main img {
      margin-top: 50px;
      max-width: 100%;
      height: auto;
   }
   
   .text-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #013d5b;
   }
   .box-h1, .box-h2 {
      width: 90%;
      color: #fefefe;
      padding: 30px auto;
      overflow: hidden;
   }
   .box-h1 {
      font-size: 24px;
      font-weight: bold;
      padding-top: 40px;
      margin: 15px auto;
      text-align: center;
   
   }
   .box-h2 {
      font-size: 16px;
      padding-bottom: 40px;
      margin: 15px auto;
      text-align: center;
   }

   .general-section {
      background-color: #fefefe;
      width: 90%;
   }

   .contain-section {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .contain-section-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   
   .img-section {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .img-section img {
      height: 250px;
   }
   
   .text-section {
      display: flex;
      flex-direction: column;
      align-items: center; /* Изменено на flex-start для выравнивания по левому краю */
      justify-content: center;
   }
   
   .text-section p, button {
      margin: 0;
   }
   
   .text-uppercase {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
   }
   
   .text-heading {
      font-size: 24px;
   }
   
   .text-general {
      font-size: 16px;
      line-height: 1.5;
      font-weight: bold;
   }
   
   .text-closure {
      font-size: normal;
      font-weight: bold;
   }
   
   button {
      border: none;
      background-color: #0273ac;
      text-align: center;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.5s ease, outline-offset 0.5s ease;
   }
   
   button:hover {
      background-color: #015782;
      outline-offset: 5px;
      outline: 3px solid #015782;
   }
   
   button p {
      font-size: 24px;
      color: #fefefe;
   }
   
   form {
      background-color: white;
      border: 3px solid #f1f1f1;
      max-width: 500px;
      min-width: 200px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 5px;
   }
   
   input[type=text], input[type=email], textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
}

/*main content section 2*/
.general-section-2 {
   background-color: #f4f4f4;
   padding: 0;
   width: 100%;
}

.img-section-2 {
   flex: 1 0 50%;
   height: 100%;
   padding: 40px 150px 40px 25px;
   position: relative;
}

.img-section-2 img {
   width: 100%;
   margin: 40px;
}

.text-section-2 {
   flex: 1 0 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-end; /* Изменено на flex-start для выравнивания по левому краю */
   justify-content: flex-end;
   height: 100%;
   padding: 40px 25px 40px 150px;
}

.text-section-2 p, .button-2 {
   margin: 0;
   text-align: right; 
}

.text-uppercase-2 {
   padding-bottom: 16px;
   text-transform: uppercase;
   font-weight: bold;
}

.text-heading-2 {
   padding: 16px 0 16px 0;
   font-size: xxx-large;
}

.text-general-2 {
   padding: 16px 0 16px 0;
   font-size: small;
   line-height: 1.5;
   font-weight: bold;
}



.child-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

.text-wrapper p {
   margin-top: 0;
   /* Добавьте дополнительные стили по вашему желанию */
}

.services-section {
   background-color: #6bdcd3;
   padding: 10px 50px;
}

.services-section2 {
   background-color: #dfe3ee;
   padding: 10px 50px;
}