.callback_form {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   .container {
      width: 50%;
      padding-top: 25px;
      padding-bottom: 25px;
      form {
         display: grid;
         align-items: center;
         justify-content: center;
         grid-template-columns: 1fr 1fr;
         .label {
            font-size: 14px;
            font-weight: 300;
            padding-top: 15px;
            padding-bottom: 5px;
         }
         .inp {
            height: 36px;
            width: 320px;
            font-size: 24px;
            border-radius: 5px;
            border: solid 1px #013d5b;
            &:focus {
               background-color: #036da14d;
            }
         }
         .sel {
            height: 40px;
            width: 328px;
            font-size: 24px;
            border-radius: 5px;
            border: solid 1px #013d5b;
            &:focus {
               background-color: #036da14d;
            }
         }
         .col-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .item {
               height: 75px;
               padding-top: 15px;
               padding-bottom: 5px;
               .label {
                  font-size: 14px;
                  font-weight: 600;
               }
            }
         }
         .col-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .item {
               height: 75px;
               padding-top: 15px;
               padding-bottom: 5px;
               .label {
                  font-size: 14px;
                  font-weight: 600;
               }
            }
         }
         .button {
            width: 160px;
            margin-top: 25px;
            border: none;
            background-color: #0273ac;
            text-align: center;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.5s ease, outline-offset 0.5s ease;
            &:hover {
               background-color: #015782;
               outline-offset: 5px;
               outline: 3px solid #015782;
            }
            & p {
               font-size: 24px;
               color: #fefefe;
               margin: 0;
            }
         }
      }
   }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
   .callback_form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .container {
         width: 50%;
         padding-top: 25px;
         padding-bottom: 25px;
         form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .label {
               font-size: 14px;
               font-weight: 300;
               padding-top: 15px;
               padding-bottom: 5px;
            }
            .inp {
               height: 36px;
               width: 320px;
               font-size: 24px;
               border-radius: 5px;
               border: solid 1px #013d5b;
               &:focus {
                  background-color: #036da14d;
               }
            }
            .sel {
               height: 40px;
               width: 328px;
               font-size: 24px;
               border-radius: 5px;
               border: solid 1px #013d5b;
               &:focus {
                  background-color: #036da14d;
               }
            }
            .col-1 {
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               .item {
                  height: 75px;
                  padding-top: 15px;
                  padding-bottom: 5px;
                  .label {
                     font-size: 14px;
                     font-weight: 600;
                  }
               }
            }
            .col-2 {
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               .item {
                  height: 75px;
                  padding-top: 15px;
                  padding-bottom: 5px;
                  .label {
                     font-size: 14px;
                     font-weight: 600;
                  }
               }
            }
            .button {
               width: 160px;
               margin-top: 25px;
               border: none;
               background-color: #0273ac;
               text-align: center;
               padding: 10px 20px;
               border-radius: 5px;
               transition: background-color 0.5s ease, outline-offset 0.5s ease;
               &:hover {
                  background-color: #015782;
                  outline-offset: 5px;
                  outline: 3px solid #015782;
               }
               & p {
                  font-size: 24px;
                  color: #fefefe;
                  margin: 0;
               }
            }
         }
      }
   }
}